* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(214, 211, 211);
}
.wrapper {
  height: 100vh;
  border: 1px solid red;
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}
.container .bgcolorName {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
}

.container .bgChangeBtn {
  padding: 10px 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-radius: 5px;
}
